<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/jq/jquery.min.js"></script>
</head>
<body>
    <input class="hello" id="content" type="text"><span id="error"></span>
    <form>
            {% csrf_token %}

    </form>

    <input class="hello" id="button" type="button" value="button">
    <script>
        $(
            function () {
                $("#button").click(
                    function () {
                        var sendData = {
                            "name": $("#content").val(),
                            "csrfmiddlewaretoken": '{{ csrf_token }}'
                        };
                        console.log(sendData);
                        $.ajax(
                            {
                                url:"/apd/",
                                type:"post",
                                data: sendData,
                                success:function (value) {
                                    console.log(value)
                                },
                                error: function (error) {
                                    console.log(error)
                                }
                            }
                        )
                    }
                )
            }
        )//页面加载完成执行
    </script>
</body>
</html>