<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
    <form>
        <input type="text" name="searchKey">
        <input type="submit" value="按我呀！">
    </form>
    {% for art in articles %}
    <p>
        {{ art.title }}
    </p>
    {% endfor %}

    <form method="post">
        {% csrf_token %}
        <p>
            <label>用户名</label>
            <input type="text" name="username">
        </p>
        <p>
            <label>密&nbsp;&nbsp;&nbsp;码</label>
            <input type="password" name="password">
        </p>
        <p>
            <input type="submit" value="提交">
        </p>
    </form>
</body>
</html>