{% extends 'base.html' %}

{% block title %}
    博客首页
{% endblock %}

{% block style %}
    <link href="/static/css/index.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="jztop"></div>
  <div class="container">
    <div class="bloglist f_l">
        {% for art in new_article %}
          <h3><a href="/jstt/bj/2017-07-13/784.html">{{ art.title }}</a></h3>
          <figure><img src="/static/images/img_1.jpg" alt="{{ art.title }}"></figure>
          <ul>
            <p> {{ art.description }}</p>
            <a title="{{ art.title }}" href="/new/{{ art.id }}" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
          </ul>
          <p class="dateview"><span>{{ art.public_time }}</span><span>作者：{{ art.article_author.name }}</span><span>个人博客：[<a href="/jstt/bj/">{{ art.article_type.1.label }}</a>]</span></p>
        {% endfor %}
    </div>
    <div class="r_box f_r">
      <div class="tit01">
        <h3 class="tit">关注{{ username }}</h3>
        <div class="gzwm">
          <ul>
            <li><a class="email" href="#" target="_blank">我的电话</a></li>
            <li><a class="qq" href="#mailto:admin@admin.com" target="_blank">我的邮箱</a></li>
            <li><a class="tel" href="#" target="_blank">我的QQ</a></li>
            <li><a class="prize" href="#">个人奖项</a></li>
          </ul>
        </div>
      </div>
      <!--tit01 end-->

      <div class="tuwen">
        <h3 class="tit">图文推荐</h3>
        <ul>
          {% for art in recom_article %}
              <li><a href="/new/{{ art.id }}"><img src="/static/images/01.jpg"><b>{{ art.title }}</b></a>
                <p><span class="tulanmu"><a href="/">手机配件</a></span><span class="tutime">{{ art.public_time }}</span></p>
              </li>
          {% endfor %}
        </ul>
      </div>
      <div class="ph">
        <h3 class="tit">点击排行</h3>
        <ul class="rank">
          {% for art in click_article %}
              <li><a href="/new/{{ art.id }}" title="{{ art.title }}" target="_blank">{{ art.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="ad"> <img src="/static/images/03.jpg"> </div>
    </div>
  </div>
  <!-- container代码 结束 -->
  <div class="jzend"></div>
{% endblock %}
