{% extends 'base.html' %}

{% block title %}
    博客文章页
{% endblock %}

{% block content %}
      <div class="about_box">
        <h2 class="nh1"><span>您现在的位置是：<a href="/" target="_blank">网站首页</a>>><a href="#" target="_blank">信息浏览</a></span><b>个人简介</b></h2>
        <div class="f_box">
          <p class="a_title">{{ article.title }}</p>
          <p class="p_title"></p>
          <!--  <p class="box_p"><span>发布时间：2017-07-07 15:12:42</span><span>作者：唐孝文</span><span>来源：稽查支队</span><span>点击：111056</span></p>-->
          <!-- 可用于内容模板 -->
        </div>
        <ul class="about_content">
          <p> {{ article.content }}</p>
          <p><img src="/static/{{ article.picture }}"></p>
        </ul>
        <!--    <div class="nextinfos">
      <p>上一篇：<a href="/">区中医医院开展志愿服务活动</a></p>
      <p>下一篇：<a href="/">广安区批准“单独两孩”500例</a></p>
    </div>-->
        <!-- 可用于内容模板 -->

        <!-- container代码 结束 -->
      </div>
{% endblock %}