{% extends 'base.html' %}

{% block content %}
    <div class="about_box">
      <h2 class="nh1"><span>您现在的位置是：<a href="/" target="_blank">网站首页</a>>><a href="#" target="_blank">个人日记</a></span><b>个人日记</b></h2>
      <div class="dtxw box">
        {% for art in page_article %}
          <li>
            <div class="dttext f_l">
                <ul>
                  <h2><a href="/new/{{ art.id }}">{{ art.title }}</a></h2>
                  <p>{{ art.description }}</p>
                  <span>{{ art.public_time }}</span>
                </ul>
            </div>
            <div class="xwpic f_r"><a href="/"><img src="/static/{{ art.picture }}"></a></div>
          </li>
        {% endfor %}
      </div>
      <!--<div class="pagelist">页次：1/1 每页25 总数10<a href="/">首页</a><a href="/">上一页</a><a href="/">下一页</a><a href="/">尾页</a></div>-->
      <div class="pagelist">页次：{{ p }}/{{ article_list.num_pages }} 每页{{ page_size }} 总数{{ article_list.count }}
          <a href="/">首页</a>
          <a href="/">上一页</a>
          {% for p in page_range %}
            <a href="/newlist/{{ p }}">{{ p }}</a>
          {% endfor %}
          <a href="/">下一页</a>
          <a href="/">尾页</a></div>
    </div>
{% endblock %}