<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <style>
        .red{
            color: red;
        }
    </style>
</head>
<body>
        <!--
        <form method="post">
            {% csrf_token %}
            <p>
                <label>用户名</label>
                <input type="text" name="username">
            </p>
            <p>
                <label>密&nbsp;&nbsp;&nbsp;码</label>
                <input type="password" name="password">
            </p>
            <p>
                <input type="submit" value="提交">
            </p>
    </form>
    <div>
        <p>常规form</p>
        <hr>
        {{ register_form }}
        <hr>
    </div>
        <div>
        <p>as_p form</p>
        <hr>
        {{ register_form.as_p }}
        <hr>
    </div>
    <div>
        <p>as_ul form</p>
        <hr>
        {{ register_form.as_ul }}
        <hr>
    </div>
    <div>
        <p>as_table form</p>
        <hr>
        {{ register_form.as_table }}
        <hr>
    </div>
    <div>
        <p>遍历 form</p>
        <hr>
        <table>
        {% for f in register_form %}
            <tr>
                <th>{{ f.label }}</th>
                <td>{{ f }}</td>
            </tr>
        {% endfor %}
        </table>
        <hr>
    </div>
     <div>
        <p>as_p form</p>
        <hr>
            <form class="register" method="post">
                {% csrf_token %}
                {{ register_form.as_p }}
                <p>
                    <input type="submit" value="提交">
                </p>
            </form>
            <p>
                {{ errors }}
            </p>
        <hr>
    </div>
    -->


</body>
</html>