{% extends "buyer/base.html" %}

{% block title %}
    首页
{% endblock %}

{% block content %}
	<div class="center_con clearfix">
		<ul class="subnav fl">
			<li><a href="/Buyer/goods_list/?keywords=1&type=t" class="fruit">新鲜水果</a></li>
			<li><a href="/Buyer/goods_list/?keywords=2&type=t" class="seafood">海鲜水产</a></li>
			<li><a href="/Buyer/goods_list/?keywords=3&type=t" class="meet">猪牛羊肉</a></li>
			<li><a href="/Buyer/goods_list/?keywords=4&type=t" class="egg">禽类蛋品</a></li>
			<li><a href="/Buyer/goods_list/?keywords=5&type=t" class="vegetables">新鲜蔬菜</a></li>
			<li><a href="/Buyer/goods_list/?keywords=6&type=t" class="ice">速冻食品</a></li>
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="/static/buyer/images/slide.jpg" alt="幻灯片"></li>
				<li><img src="/static/buyer/images/slide02.jpg" alt="幻灯片"></li>
				<li><img src="/static/buyer/images/slide03.jpg" alt="幻灯片"></li>
				<li><img src="/static/buyer/images/slide04.jpg" alt="幻灯片"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="/static/buyer/images/adv01.jpg"></a>
			<a href="#"><img src="/static/buyer/images/adv02.jpg"></a>
		</div>
	</div>

    {% for ty in result %}
    	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">{{ ty.type.type_label }}</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">鲜芒</a>
				<a href="#">加州提子</a>
				<a href="#">亚马逊牛油果</a>
			</div>
			<a href="/Buyer/goods_list/?keywords={{ ty.type.id }}&type=t" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/{{ ty.type.picture }}"></div>
			<ul class="goods_list fl">
                {% for goods in ty.goods_list %}
				    <li>
					<h4><a href="/Buyer/goods_detail/{{ goods.id }}/">{{ goods.goods_name }}</a></h4>
					<a href="/Buyer/goods_detail/{{ goods.id }}/"><img src="/static/{{ goods.picture }}"></a>
					<div class="prize">¥ {{ goods.goods_price }}</div>
				</li>
                {% endfor %}
			</ul>
		</div>
	</div>
    {% endfor %}
{% endblock %}
